<!--<div class="card" *ngFor="let book of books">
    <h4 class="card-header">Title - {{ book.title }}</h4>
    <div class="card-body">
        <h4 class="card-title">Author - {{ book.author }}</h4>
        <p class="card-text">{{ book.description }}</p>
        <p>
            <span class="badge badge-danger">{{ book.price | currency }}</span>
            <span class="badge badge-info">{{ book.pages }} pages</span>
        </p>
        <a href="#" (click)="goAddBooksPage($event)" class="btn btn-primary" >Add New Book</a>
    </div>
</div>-->
<div class="container">
  <h3 class="text-center">List Of Books</h3>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card" *ngFor="let book of books">
                <h4 class="card-header">Author - {{ book.author }}</h4>
                <div class="card-body">
                    <h4 class="card-title">Title - {{ book.title }}</h4>
                    <p class="card-text">{{ book.description }}</p>
                    <p>
                        <span class="badge badge-danger">{{ book.price | currency }}</span>
                        <span class="badge badge-info">{{ book.pages }} pages</span>
                    </p>
                    <a href="#" (click)="goAddBooksPage($event)" class="btn btn-primary" >Add New Book</a>
                </div>
            </div>
        </div>
     </div>
</div>